.titleContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    height: 500px;
}

.container6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 500px;
    height: 500px;
}



